/*Этот файл описывает стиль для всей странницы, очень красивый!*/

body {
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

/* Стиль input в стиле Windows XP */
input {
    padding: 8px;
    font-size: 12px;
    border: 1px solid #939393;
    color: #000;
    background-color: #d8d8d8;
}

input:hover,
input:focus {
    background-color: #c0c0c0;
    color: #000;
}

/* Стиль кнопки в стиле Windows XP */
button {
    display: inline-block;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #939393;
    color: #000;
    background-color: #d8d8d8;
}

button:hover {
    background-color: #c0c0c0;
    color: #000;
}

button:active {
    background-color: #a0a0a0;
    color: #000;
}

button[disabled] {
    background-color: darkgray;
    cursor: not-allowed;
}

/* Стиль ссылок в стиле Windows XP */
a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

a:hover {
    color: #0066cc;
    border-bottom: 1px solid #0066cc;
}

.sticky_label
{
    background: rgba(226, 255, 25, 0.74);
    border-radius: 10px;
    padding: 3px;
}

.sticky_label2
{
    background: rgba(0, 0, 0, 0.068);
    border-radius: 5px;
    padding: 3px;
}
