.form_sigin {
    border: 1px solid black;
    margin: auto;
    background: #dbdbdb;
    padding: 10px;
    position: absolute;
    width: 400px;
    height: auto; /* автоматическая высота */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
